<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/contact.css" />

    <title>Document</title>
  </head>
  <body>
    <nav>
      <div class="nav-container">
        <div class="logo">
          <a href="">Express</a>
        </div>
        <div class="main-nav">
          <a href="/">Home</a>
          <a href="services">Our Services</a>
          <a href="contact">Contact Us</a>
        </div>
      </div>
    </nav>
    <main>
      <div class="left">
        <h1>Contact Us</h1>
      </div>
      <div class="right">
        <form action="">
          <span>Full Name :</span>
          <input type="text" />
          <br />
          <span>Email :</span>
          <input type="email" />
          <br />
          <span>Subject :</span>
          <input type="text" />
          <textarea name="" id="" cols="30" rows="10">
Write you message here...</textarea
          >
          <button class="btn">Submit</button>
        </form>
      </div>
    </main>
  </body>
</html>
