<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <nav>
      <div class="nav-container">
        <div class="logo">
          <a href="/">Express</a>
        </div>
        <div class="main-nav">
          <a href="/">Home</a>
          <a href="services">Our Services</a>
          <a href="contact">Contact Us</a>
        </div>
      </div>
    </nav>
    <main>
      <div>
        <h1>Welcome</h1>

        <h2>to our store</h2>
      </div>
    </main>
  </body>
</html>
