* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(./contact.jpg);
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
}
nav {
  position: fixed;
  position: fixed;
  width: 100%;
  top: 0;
}
nav .nav-container {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  padding-left: 100px;
}
.logo a {
  font-weight: 800;
  padding-right: 60px;
  font-size: 20px;
  text-decoration: none;
  color: rgb(26, 21, 21);
}
.main-nav a {
  text-decoration: none;
  padding-right: 30px;
  color: rgb(26, 21, 21);
  font-size: 18px;
}
main {
  display: flex;
  margin: 150px;
}
main h1 {
  font-size: 60px;
  font-family: "Rammetto One", cursive;
}
main .right {
  flex: 30%;
  display: inline-block;
}
main .right input {
  width: 300px;
  height: 30px;
  margin-bottom: 10px;
  border-radius: 6px;
  background-color: rgb(255, 255, 250);
  border: none;
}
main .right textarea {
  width: 300px;
  background-color: rgb(255, 255, 250);
  border: black 1px;
  border-radius: 6px;
}
main .left {
  flex: 70%;
}
.btn {
  background-color: black;
  color: white;
  width: 80px;
  border-radius: 6px;
  margin-top: 20px;
}
